body {
    font-family: 'Roboto',sans-serif;
    color: black;
}
.link {
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    line-height: 1.20%;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
}
.header-emai {
    font-size: 14px;
    line-height: 1.14%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575
}
.header-tel {
    font-size: 14px;
    line-height: 1.14%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}
.button {
cursor: pointer;
color: #212121;
background-color: #F5F4FA;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88%;    
    letter-spacing: 0.03em;
    color: #757575;
}

a:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #2196F3;
}

.text-decoration {
    text-decoration: none;
}
.tittle {
    
}